<div class="container-fluid pt-4 pb-2 bg-cus-2">
    <div class="w-25 container mx-auto">
        <form method="post" action="/handlelogin">
            <div class="form-group">
                <label for="input">Benutzername oder Email</label>
                <input type="text" placeholder="Dein Benutzername oder email" id="input" name="input"
                    class="form-control control-cus" required />
            </div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" placeholder="Dein Passwort" id="password" name="password"
                    class="form-control control-cus" required />
            </div>

            <button type="submit" class="btn btn-light mx-auto mt-3">Anmelden</button>
        </form>
    </div>
</div>